.issuesList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 250px;
}

.issuesList li {
    border: 1px solid #ddd;
    cursor: pointer;
    padding: 3px 6px;
}

.issuesList li:first-child {
    background: #ddd;
}